<mat-card>
    <mat-card-content>
        <mat-form-field fxFill>
            <input matInput placeholder="Name" type="text" [(ngModel)]="consentRendererComponent.name">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <mat-form-field fxFlex="75">
                <input matInput placeholder="Id" type="text" [(ngModel)]="consentRendererComponent.id">
            </mat-form-field>
            <button mat-raised-button (click)="doGenerateId()" fxFlex="20">
                <mat-icon>refresh</mat-icon><span> Generate </span>
            </button>
        </div>
    </mat-card-content>
</mat-card>
