<p *ngFor="let consentRendererComponent of consentRendererComponents">
    <mat-icon *ngIf="consentRendererComponent.type === 'text'">short_text</mat-icon>
    <mat-icon *ngIf="consentRendererComponent.type === 'constraint'">format_list_bulleted</mat-icon>
    <mat-form-field>
        <input matInput placeholder="Text" [value]="consentRendererComponent.text">
    </mat-form-field>
    <button mat-icon-button><mat-icon aria-label="Move up">arrow_upward</mat-icon></button>
    <button mat-icon-button><mat-icon aria-label="Move down">arrow_downward</mat-icon></button>
    <button mat-icon-button><mat-icon aria-label="Add above">vertical_align_top</mat-icon></button>
    <button mat-icon-button><mat-icon aria-label="Add below">vertical_align_bottom</mat-icon></button>
    <button mat-icon-button><mat-icon aria-label="Remove">remove</mat-icon></button>
</p>
